/* 
====================================
Sets up styles for .sidebar-container 
====================================
*/

/* Set type style for entire webpage */

h1 {
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
}
h3 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}

/* .sidebar-logo {
} */

.guide {
   padding-top: 25px;
   padding-bottom: 15px;
}

.margin {
    padding-top: 5px;
}
.sidebar-container {
    background: linear-gradient(#caebf5,#2497bad4);
    height: 100%;
    position: fixed;
    padding: 50px 70px;
    width: 180px; 
}

.sidebar-subtitle {
    font-family: 'Montserrat', sans-serif;
    color:#043C77;
    font-style: bold;
    padding: 5px 0px;
    margin: 0 auto;
}

nav h3 {
    font-family: 'Montserrat', sans-serif;
    color:#043C77;
    display: block;
    position: relative;
    left: -20px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 0px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #043C77;
    display: flex;
    justify-content: none;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin: 0 auto;
    text-decoration: none;
    position: relative;
    left: -20px;
}

nav a:hover {
    font-family: 'Montserrat', sans-serif;
    color:#B27100;
    font-style: bold;
    padding: 10px 0px;
    margin: 0 auto;
    text-decoration: underline;
}

/* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
    background: white;
    margin-top: 0 px;
    margin-left: 290px;
    padding: 0px 40px;
    height: 100%;
}

/* Sets max width for content and align content in middle of section-container */
.content-container {
   background: white;
   margin: 0 auto;
   max-width: 800px;
}

/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
  width: 100%;
  display: flex;
  /* == sets spacing between elements in */
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 15px auto 15px auto; */
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 0px;
}

.row-container {
    width: 100%;
    display:wrap;
    justify-content: initial;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 30px;
}


.row-container-primary-color {
    width: 100%;
    display:flex;
    /* === sets spacing between elements in */
    justify-content: initial;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.colorBox-primary-1 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: initial;
    padding: 20px;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    background: #043C77;
}

.colorBox-primary-2 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 20px;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    background: #B27100;
}

.row-container-secondary-color-1 {
    width: 100%;
    display:flex;
    /* === sets spacing between elements in */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row-container-secondary-color-2 {
    width: 100%;
    display:flex;
    /* === sets spacing between elements in */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.colorBox-secondary-1 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #0E2C4C;
}

.colorBox-secondary-2 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #418ECC;
}

.colorBox-secondary-3 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #9CCCFF;
}

.colorBox-secondary-4 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #FFA100;
}

.colorBox-secondary-5 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #111111;
}

.colorBox-secondary-6 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #424242;
}

.colorBox-secondary-7 {
    color: white;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #979797;
}

.colorBox-secondary-8 {
    color: black;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #DDDDDD;
}

.colorBox-secondary-9 {
    color: black;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #EEEEEE;
}
.colorBox-secondary-10 {
    color: black;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
    height: 80px;
    width: 90px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 2px 0 10px rgba(0,0,0,0.4);
}


.row-container-around {
    width: 100%;
    display: flex;
    /* === sets spacing between elements in */

    /* justify-content: none;
    margin-top: 15px;
    margin-bottom: 15px; */

    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

/* 
====================================
Typography
====================================
*/

#Typography {
    padding-top: 5px;
}
pre {
    display: block;
    justify-content: space-between;
    flex-wrap:wrap;
    font-family: 'Lato', sans-serif;
    margin: 1em 0;
}

.type-faces{
    font-family: 'Lato', sans-serif;
    margin-top: -20px;
}

.type-faces-01{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.type-faces-02{
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
}

.type-faces-03{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.type-faces-04{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 20px;
    margin-bottom: -20px;
}

.type-faces-05{
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
    margin-bottom: -20px;
    margin-top: -20px;
}

.type-styles-01 {
    padding-bottom: 5px;
    padding-top: 20px;
}

.type-styles-02 {
    padding-bottom: 5px;
}

.type-styles-03 {
    padding-bottom: 5px;
}

/* 
====================================
Buttons
====================================
*/

.row-container-button {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-normal {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #418ecc;
    color: white;
    text-decoration: none;
    border: 0px solid #000000;
}

.button-hover {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: white;
    color: #418ECC;
    text-decoration: none;
    border: 1px solid #418ECC;
}

.button-focus {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #9CCCFF;
    color: white;
    text-decoration: none;
    border: 1px solid #043C77;
}

.button-active {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #9CCCFF;
    color: white;
    text-decoration: none;
    border: 1px solid #9CCCFF;
}

.button-disabled {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #DDDDDD;
    color:white;
    text-decoration: none;
    border: 1px solid #DDDDDD;
}


/* 
====================================
Buttons
====================================
*/

.doed-icons {
    font-size: 40px;
    padding-bottom: 30px;
    margin-top: -10px;
}

/* 
====================================
Imagery
====================================
*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }




/* 
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
   
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
       position: fixed;
       left:0;
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {
        background: white;
        width: 100%;
        padding: 10px 30px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        height: 80px;
        margin:0;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
       
    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {
        height: 80px;
    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
        display:none;
    }
  
    /* Defines mobile container content */
    .section-container {
        background: lightskyblue;
        margin-top: 60px;
        margin-left: 0px;
        height: 100%;
    }

    /* Sets Type Styles */
    h1 {
        font-size: 1.0em;
        font-family: 'Lato', sans-serif;
    }

    h2 {
        font-family: 'Lato', sans-serif;
    }
    
    .type-styles-01 {
        font-family: 'Lato', sans-serif;
    }


    .row-container-no-wrap {
        flex-wrap: wrap;
    }

    #Logo .section-logo {
        width: 300px;
        height: 100%;
    }


}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

pre {

}
