/* 
====================================
Sidebar Navigation
====================================
*/

.sidebar-container {
    background-color: rgb(238, 238, 238);
    color: #0E2C4C;
    position: fixed;
	height: 100%;
    width: 210px; 
    padding: 40px 35px 35px 35px;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /* line-height: 150%; */
}

.sidebar-logo {
    min-width: 100%;
}

.sidebar-subtitle {
    font-size: 1.1em;
}

.sidebar-container a {
    padding: 10px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #0E2C4C;
    display: block;
    line-height: 85%;
}

.sidebar-container a:hover {
    color: #B27100;
    text-decoration: underline;
}

.sidebar-container h2 {
    margin: 30px 0px 20px 0px;
}

/* 
====================================
Body Style
====================================
*/

.section-container {
    background: white;
    margin: 0px 0px 0px 250px;
    padding: 20px 30px;
    height: 100%;
}

.content-container {
    background: white;
    margin: 0 auto;
    min-width: 350px;
    max-width: 900px;
    padding: 50px 40px 40px 40px;
}

/* 
====================================
Logos
====================================
*/

#Logo {
    padding: 5px 0px 5px 0px;
}

.row-container-no-wrap img{
    padding: 10px 20px 10px 20px;
    width: 100%;
    max-width:850;
    height:auto;
}

/* 
====================================
Typography
====================================
*/

#Typography {
    padding: 5px 0px 5px 0px;
}

.h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size:2.5em;
    margin: 20px auto;
}

.h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin: 20px auto;
}

.type-body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 20px auto;
}

.type-spacing {
    margin-bottom: 50px;
}

/* =========== Montserrat Medium ============ */

.h2-montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size:2.2em;
    margin-top: 50px;
    margin-bottom: -10px;
}

.h2-lato-medium {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size:2.2em;
    margin-bottom: -10px;
}

/* =========== Montserrat Black ============ */

.h1-montserrat-black{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size:2.5em;
    margin: 20px auto;
}

.h2-montserrat-black{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size:2.2em;
    margin: 20px auto;
}

.h3-montserrat-black{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size:1.6em;
    margin: 20px auto;
}

.h4-montserrat-black{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size:1.3em;
    margin: 20px auto;
}

.h5-montserrat-black{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size:1.1em;
    margin: 20px auto;
}

.h6-montserrat-black{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.0em;
    margin: 20px auto;
}

/* =========== Lato Bold ============ */

.h1-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.2em;
    margin: 20px auto;
}

.h2-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.0em;
    margin: 20px auto;
}

.h3-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin: 20px auto;
}

.h4-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.25em;
    margin: 20px auto;
}

.h5-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 20px auto;
}

.h6-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin: 20px auto;
}

/* =========== Lato Regular ============ */

.h1-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.2em;
    margin: 20px auto;
}

.h2-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.0em;
    margin: 20px auto;
}

.h3-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin: 20px auto;
}

.h4-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.25em;
    margin: 20px auto;
}

.h5-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 20px auto;
}

.h6-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin: 20px auto;
}

/* 
====================================
Colors
====================================
*/

#Colors {
    padding: 5px 0px 20px 0px;
}

.row-container-wrap {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 10px;
}

.color-item {
    /* padding: 0px 0px 0px 0px; */
    padding: 10px 10px 10px 10px;
}

.color {
    display: inline-block;
    min-width: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    line-height: 50%;
    padding: 30px 0px 15px 25px;
    border-radius: 10px;
}

.doed-blue-primary {
    color: white;
    background: #043C77;
}

.doed-orange-primary {
    color: white;
    background: #B27100;
}

.doed-blue-secondary-1 {
    color: white;
    background: #0E2C4C;
}

.doed-blue-secondary-2 {
    color: white;
    background: #418ECC;
    border-radius: 10px;
}

.doed-blue-secondary-3 {
    color: black;
    background: #9CCCFF;
}

.doed-orange-secondary-1 {
    color: white;
    background: #ffa100;
}

.doed-grey-secondary-1 {
    color: white;
    background: #111111;
}

.doed-grey-secondary-2 {
    color: white;
    background: #424242;
}

.doed-grey-secondary-3 {
    color: white;
    background: #979797;
}

.doed-grey-secondary-4 {
    color: black;
    background: #DDDDDD;
}

.doed-grey-secondary-5 {
    color: black;
    background: #EEEEEE;
}

.doed-grey-secondary-6 {
    color: black;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px #9a9a9a;
}


.row-container-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

/* 
====================================
Buttons
====================================
*/

/* =========== Primary Buttons ============ */

.primary-normal {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #418ecc;
    color: white;
    border: 0px solid #000000;
    margin: 5px 15px 5px 15px;
}

.primary-hover {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: white;
    color: #418ECC;
    border: 1px solid #418ECC;
    margin: 5px 15px 5px 15px;
}

.primary-focus {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: white;
    background: #9CCCFF;
    color: white;
    border: 1px solid #043C77;
    margin: 5px 15px 5px 15px;
}

.primary-active {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #9CCCFF;
    color: white;
    border: 1px solid #9CCCFF;
    margin: 5px 15px 5px 15px;
}

.primary-disabled {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #DDDDDD;
    color:white;
    border: 1px solid #DDDDDD;
    margin: 5px 15px 5px 15px;
}

/* =========== Secondary Buttons ============ */

.secondary-normal {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: transparent;
    color: 043C77;
    border: 1px solid #043C77;
    margin: 5px 15px 20px 15px;
}

.secondary-hover {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #418ECC;
    color: white;
    border: 1px solid #418ECC;
    margin: 5px 15px 20px 15px;
}

.secondary-focus {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #9CCCFF;
    color: 043C77;
    border: 1px solid #043C77;
    margin: 5px 15px 20px 15px;
}

.secondary-active {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #9CCCFF;
    color: 043C77;
    border: 1px solid #9CCCFF;
    margin: 5px 15px 20px 15px;
}

.secondary-disabled {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:18px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: #DDDDDD;
    color:white;
    border: 1px solid #DDDDDD;
    margin: 5px 15px 20px 15px;
}

/* 
====================================
Iconography
====================================
*/

/* .row-container {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
} */

.doed-icons i{
    width: 80px;
    min-height: 50px;
    display: inline-block;
    padding: 0px 5px 10px 5px;
    margin-top: 10px;
    font-size: 40px;
  }

/* 
====================================
Imagery
====================================
*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/* 
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
   
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
       position: fixed;
       left:0;
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {
        background: white;
        width: 100%;
        padding: 10px 30px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        height: 80px;
        margin:0;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
       
    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {
        height: 80px;
    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
        display:none;
    }
  
    /* Defines mobile container content */
    .section-container {
        background: lightskyblue;
        margin-top: 60px;
        margin-left: 0px;
        height: 100%;
    }

    /* Sets Type Styles */
    h1 {
        font-size: 1.0em;
        font-family: 'Lato', sans-serif;
    }

    h2 {
        font-family: 'Lato', sans-serif;
    }
    
    .type-styles-01 {
        font-family: 'Lato', sans-serif;
    }


    .row-container-no-wrap {
        flex-wrap: wrap;
    }

    #Logo .section-logo {
        width: 300px;
        height: 100%;
    }


}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

pre {

}
